.rounded_box{
	background-color:#0299ef;
	width:200px;
	text-align:center;
	padding:50px 0px;
	border-radius:30px;
	background-image:linear-gradient(to top,#04507b,#0072b4 30%,#018ab9,#00a2ff,white);
}